<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.papanews">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ApplicationClass"
        android:clearTaskOnLaunch="true"
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n"
        tools:ignore="AllowBackup">

        <activity android:name=".Tutorial" />
        <activity android:name=".activity_notification" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Aboutus_terms"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".saved_posts"
            android:fitsSystemWindows="true"
            android:label="@string/title_activity_saved_posts"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".select_category"
            android:fitsSystemWindows="true"
            android:label="@string/title_activity_select_category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Login"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUp"
            android:fitsSystemWindows="true"
            android:label="SignUp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DashBoard"
            android:fitsSystemWindows="true"
            android:label="MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Upload_News"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".News_page"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />

        <receiver android:name=".MediaPlayerService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:screenOrientation="portrait" />

<!--        <receiver android:name=".App" />-->
        <service android:name=".MusicService" android:enabled="true"/>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".NotificationReciever" android:enabled="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver">
            <intent-filter >
                <action android:name="NEXT"/>
                <action android:name="PREVIOUS"/>
                <action android:name="PLAY"/>
            </intent-filter>

        </receiver>
    </application>

</manifest>